.footer-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-inline: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

email {
    color: black
}

email:hover { 
    content: attr(title); 
} 
