@font-face {
    font-family: 'Roboto';
    src: url('frontend\src\RobotoCondensed-VariableFont_wght.ttf') format('ttf');
   }

header {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: calc();
}

content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right:auto;
    margin-left:auto;
}


