phil {
    display: flex;
    justify-content: center;
    font-size:2em;
    animation: fadeIn 10s;
    font-weight: 700;
}

input {
    text-align: center;
    font-size: 1em;
    font-style: italic;
    width: 60%;
    height: 3em;
    background-color: var(--background-col);
    color: white;
    border: none;
}

textbox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

input::placeholder {
    font-size: 1em;
    color: white;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-col);
    border-style: hidden;
    font-size: 1em;
    font-weight: 600;
    color: white;
    margin-right: auto;
    margin-left:auto;

}

.fade {
    animation: fadeInPara 10s;
}

.response {
    animation: fadeIn 5s;
}

.reply {
    animation: fadeInReply 10s
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInPara {
    0% {opacity: 0;}
    33% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInReply {
    0% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}


