
#hella-fonts
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none;
    color: #ded9fa; 
  } 
  a:active { 
    text-decoration: none; 
  }

* {
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Roboto;
    color: white;
}

html {
    height:100%;
    background: 
    radial-gradient(ellipse at 37% 100%, #316b29 0%, #00D44F00 45%),
    radial-gradient(ellipse at 0% 0%, #CA1464 0%, #0A054D00 25%),
    radial-gradient(circle at 78% 0%, #0A054D 1%, #D41E1E 89%);
    font-family:'Roboto';
    background-attachment: fixed;
    text-align: center;
    font-size: calc(1em + 1vw);

}

body {  
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Roboto';
    
}

footer {
    min-height: 50px;
    margin-top: auto;
}



